@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

body {
  font-family: "Montserrat", sans-serif;

  color: #444444;
}

a {
  color: #2f2f2f;
  text-decoration: none;
}

a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

.tdu,
.tdu:hover {
  text-decoration: underline;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
  color: #2f2f2f;

}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #d2ac5b;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ee8b7a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #343434;
  padding: 4px 0;
  font-size: 11px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #d2ac5b;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #d2ac5b;
}

#topbar .social-links a {
  color: #bababa;
  line-height: 0;
  transition: 0.3s;
  margin-left: 10px;
}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 5px 0;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

#header .logo h1 {
  font-size: 26px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid #d2ac5b;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #545454;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 70px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: initial;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #545454;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #d2ac5b;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #d2ac5b;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ec7f6d;
}

.navbar .dropdown .down_page {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(100% + 30px);
  margin: 0;
  padding: 30px 100px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .single-dropdown .down_page {
  display: block;
  position: absolute;
  left: 657px;
  width: 21%;
  top: calc(100% + 30px);
  margin: 0;
  padding: 30px 100px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

/*.navbar .dropdown ul li {
  min-width: 200px;
}*/

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #545454;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #d2ac5b;
}

.navbar .dropdown:hover .down_page {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.main-dropdown{
  position: relative !important;
}
.main-dropdown .down_page{padding: 30px 0px !important;}
.desk-search{
  display: none;
  transition: all 0.2s ease-in-out;
}
.desk-search.active{
  display: block;
  transition: all 0.5s ease-in-out;
}
.search-btn:hover{
  cursor: pointer;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #545454;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(59, 59, 59, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #545454;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #d2ac5b;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #d2ac5b;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;

  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}

#hero .carousel-item {
  width: 100%;

}



#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 120px;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #2e2e2e;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #d2ac5b;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: arken(#545454, 15);
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  background: #d2ac5b;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: 0.2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #d2ac5b;
  background: #d2ac5b;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #d2ac5b;
  text-decoration: none;
}

@media (max-height: 768px),
(max-width: 1200px) {
  #hero {
    margin-bottom: 60px;
  }

  #hero .carousel-container {
    padding-bottom: 0;
  }

  #hero .carousel-indicators li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #d2ac5b;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: white;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

#footer {



  font-size: 14px;
}



#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {

  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 85px);
  outline: none;
}

#footer .footer-newsletter form .btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #d2ac5b;
  color: #fff;
  transition: 0.3s;
  border-radius: 5px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #e6573f;
}

#footer .footer-top {

  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.payment_methods img {
  height: 20px;
  margin-right: 10px;
}


#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #565450;
  line-height: 1;
  padding: 8px 0;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #d2ac5b;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #d2ac5b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;

}

.ttu {
  text-transform: uppercase;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.bg_light {
  background-color: #f5f5f5;
}

.ifw20 {
  font-size: 20px;
}

.hadding {
  font-size: 50px;
}

.text-m {
  font-size: 11px;
  line-height: 11px;
  padding-left: 8px;
  width: auto;
}

.ratings .bi {
  color: #2f2f2f;
  font-size: 12px;
}

.product_item_price {
  display: initial;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 8px;
  max-width: none;
  padding-left: 0;
}

.product-grid_item {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
  margin-top: 10px;
  text-transform: none;
  width: 100%;
}

.product-grid-item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.tdlt {
  text-decoration: line-through;
}

.fw700 {
  font-weight: 700;
}

.oof_color {
  color: #ec4837;
}

.small_banner .btn {
  position: absolute;
  bottom: 30px;
  background: #fff;
  left: 40px;
  width: 40%;
  z-index: 1;
  color: #000;
}

.video {
  background: url(../img/video.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.video .video_btn {
  font-size: 120px;
  color: #fff;
  margin-bottom: 40px;
}

.clients .carousel-control-next,
.clients .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.clients img {
  width: 80px !important;
  height: 80px;
  margin: 0 auto 20px;
  object-fit: cover;
}

.clients .slide {
  max-width: 800px;
  margin: auto;
}

.clients .t_name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.clients .bi-star-fill {
  color: #cfaa5b;
}

.footer-bar_icon .bi {
  font-size: 30px;
}

.footer_bar_item {
  color: #000;
}

.child-level-item-title {
  display: block;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.menubanner {
  margin: -30px -100px -30px 0;
}

.single-input-item input,
.single-input-item textarea {
  color: #555555;
  border: 1px solid #ccc;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  background: #fff;
}


.btn {
  background: #d2ac5b;
  color: #fff;
}

.btn:hover {
  background: #2f2f2f;
  color: #fff;
}

.w100 {
  width: 100%;
  display: block;
}

.price-regular {
  color: #c29958;
  font-weight: 500;
  font-size: 28px;
  margin-right: 10px;
}

.color-categories li {
  display: inline-block;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #efefef;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.color-categories li a {
  height: 12px;
  width: 12px;
  display: block;
  border-radius: 50%;
}

.product-details-des .color-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}


.c-lightblue {
  background-color: #b0c4de;
}

.c-darktan {
  background-color: #aa9e78;
}

.c-grey {
  background-color: #808080;
}

.c-brown {
  background-color: #964B00;
}

.option-title {
  line-height: 1;
  font-weight: 400;
  margin-right: 10px;
  text-transform: capitalize;
}

.product-details-des .quantity {
  margin-right: 15px;
}

.product-details-des .quantity .pro-qty {
  width: 90px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}

.product-details-des .quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.product-details-des .quantity .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
.product-details-des .quantity .pro-qty .qa {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.product-details-des .quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.product-details-des .pro-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.product-details-des .quantity-cart-box {
  margin-bottom: 20px;
}

.product-details-des .pro-size .nice-select {
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
.cart-img img{
  width: 100px;
}
.cart-h{
  margin-left: 20px;
  width: 60%;
}
.cart-h h5{
   margin: 0;
}
.cart-des{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-des .quantity {
  margin-right: 15px;
}

.cart-des .quantity .pro-qty {
  width: 90px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}

.cart-des .quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.cart-des .quantity .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
.cart-des .quantity .pro-qty .qa {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.cart-des .quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.cart-des .pro-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.product-details-des .product-name {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 36px;
}

.product-review-info .nav.review-tab li a {
  color: #000;
  display: block;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  padding: 8px 10px;
  border: 1px solid #fff;
  border-bottom: none;
  background-color: #fff;
}

.product-review-info .nav.review-tab li a.active {
  border: 1px solid #c29958;
  background-color: #c29958;
  color: #fff;
}

.heart-img{
  position: relative;
}

.heart-img i{
  position: absolute;
  right: 18px;
  z-index: 9;
  font-size: 24px;
  color: #656464;
}
.heart-img .s_offer {
  position: absolute;
  left: 0;
  z-index: 9;
  font-size: 10px;
  padding: 2px 4px;
  color: #fff;
  background: #de3232;
  top: 10px;
}
.mobile_menu li a {
  padding: 8px;
  display: block;
  border-bottom: 1px solid #e3e3e3;
}
.mobile_menu li{ display:block;}
.mobile_menu {
  position: fixed;
  left: -100%;
  width: 250px;
  top: 0;    transition: 0.5s;

  background: #fff;
  z-index: 999;
  height: 100%;
}
.scroll_menu {
  overflow: auto;
  height: calc(100vh - 40px);
}
.mobile_menu.active {
  left: 0;
}
.heart-img i:hover{
  cursor: pointer;
}
.heart-img .bi-suit-heart-fill{
  color: #dbb162;
}

.text-d{
  text-decoration: underline;
}

.breadcrumb-wrap {
  padding: 24px 0;
  text-align: center;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:before {
  color: #7e7e7e;
  content: "/";
  font-size: 12px;
  margin: 3px 5px 0;
  padding-right: .5rem;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
  color: #c29958;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:first-child:before {
  display: none;
}

.shadow1 {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}

.img_item img {
  width: 100%;
}

.header_right_item a:hover {
  color: #d2ac5b
}

.text-wrap {
  font-weight: 600;
  margin-left: 12px;
  text-transform: uppercase;
}

.cart_popop .modal-dialog {
  margin: 0 0 0 auto;
}

.cart_popop .modal-content {
  border-radius: 0;
  border: 0;
  height: 100vh;
}

.cart_popop .modal-dialog {
  transform: translate(6rem, 0);
  ;
  transition: transform .3s ease-out;
}

.cart_popop.show .modal-dialog {
  transform: inherit;
}
.cart_popop .modal-body{
  overflow: auto;
}

.check-cart{
  background-color: #d8d8d845;
  padding: 85px 190px 45px 90px;
}
.check-info{
  padding: 64px 40px 28px 100px;
}

.check-cart-item{
  justify-content: space-around;
  align-items: center;
}
.check-cart-item h6{
 margin-bottom: 0;
}
.check-cart-item p{
  color: #8f8f8f;
  font-size: 12px;
}
.check-cart-div{
  align-items: center;
}
.check-cart-div .cart-img{
  position: relative;
}
.check-cart-div .cart-img span{
  position: absolute;
    background: #000;
    color: #fff;
    border-radius: 100%;
    width: 22%;
    height: 24%;
    font-size: 14px;
    top: -10px;
    right: -10px;
    text-align: center;
}
.check-cart-div .cart-img img{
  border: 1px solid #afafaf;
}
.check-cart-inner{
  border-bottom: 3px solid #9f9f9f;
}
.check-sub-total .sub-total{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  border-bottom: 2px solid #adadad;

}
.check-sub-total .sub-total p{
  color: #7a7a7a;
}

.cart-clear{
  text-align: end;
}
.cart-clear button{
  background: none;
  border: 1px solid #d2ac5b;
  border-radius: 8%;
}

.cart-clear button:hover{
 cursor: pointer;
 background: #d2ac5b;
 color: #fff;
}
.price-box button{
  background: none;
  border: none;
}
.checkout-submit button{
  font-size: 20px;
}
.checkout-footer-link a{
  color: #8c8c8c;
  font-size: 13px;
}
.tt-product-img img{
 width: 100px;
}
.tt-shopcart-table-02 table tr{
  border-bottom: 1px solid #cecece;
}
.tt-shopcart-table-02 table tr h4{
 margin: 0;
}
.tt-shopcart-table-02 table tr p{
  color: #8c8c8c;
  font-size: 14px;
 }

.tt-shopcart-table-02 table {
  margin-bottom: 30px;
}
.tt-shopcart-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-sub{
  border: 1px solid #dcdcdc;
  padding: 11px;
  border-radius: 10px;
}
.cart-sub .sub-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_input {
  outline: none !important;
  width: 170px;
  border-radius: 5px;
  padding: 2px 8px;
  border: 1px solid #ccc;
  margin-right: 12px;
}
.password {
  padding-right: 38px;
}

.password-group {
  position: relative;
  width: 100%;
}

.password-group .eye-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 100;
  font-size: 16px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  right: -41px;
  top: 30px;
}

.dropdown-content a {
  color: #d3af5d;
  padding: 7px 12px;
  text-decoration: none;
  display: block;
  border: 1px solid #dab061;
  margin: 10px;
}

.dropdown-content button {
  color: #d3af5d;
  padding: 7px 12px;
  text-decoration: none;
  border: 1px solid #dab061;
  margin: 10px;
  background: #fff;
  width: 85%;
}

.dropdown-content a:hover {
  background-color: #e8d49f;
  color: #fff;
}
.dropdown-content button:hover {
  background-color: #e8d49f;
  color: #fff;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.user_photo{    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
    display: block;}



@media (min-width: 991px) {

  .navbar .down_page ul {
    display: block;
  }

  .navbar .down_page li {
    display: block;
  }

  .navbar .down_page li a {
    padding: 0;
    margin-bottom: 10px
  }

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0 !important;
  margin-top: 10px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.react-multi-carousel-track {
  margin: 0 -16px!important;
}
.heart-img img{    height: 260px;object-fit: cover;}

.mobile_menu img { width: 115px; margin: auto;  display: block;}
body .react-multiple-carousel__arrow {
    z-index: 9;
}
.serch_box {
  position: absolute;
  background: #fff;
  top: 100%;
  width: 100%;
display: none;
  max-height: 200px;
  overflow: auto;
}
.serch_box.active {
 display: block;
}
.serch_box ul li:hover{  background: #eaeaea;}
  .serch_box ul li{   padding:8px 10px;   display: block;
  margin: 0;
   }
   .serch_box ul li:hover{ cursor: pointer;
     }
   .serch_box::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .serch_box::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .serch_box::-webkit-scrollbar-thumb {
    background: #888;
  }


@media (min-width: 991px) {
.dp_none{ display: none;}.dp_none1{ display: none;}
}
  @media (max-width: 991px) {
  .search_mobile {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9;
    padding: 20px;    transition: 0.5s;
}
.search_mobile.active {
  top: 0%;
}
.search_mobile .search_input{border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
  padding: 10px 15px;}
.hadding {
  font-size: 25px;
}
.product-details-des .product-name {
  font-size: 24px;
}
.react-multi-carousel-track {
  margin: 0!important;
}
#header .logo img {
  max-height: 60px;
}
 

.dp_none{ display: block;}
section {
  padding: 40px 0;
}
.react-multiple-carousel__arrow {
  min-width: 30px;
  min-height: 30px;   
}
.react-multiple-carousel__arrow::before {
  font-size: 15px;
}
.mo_none{ display: none;}
#footer .footer-top {
  padding: 40px 0 10px 0;
}
.check-info {
  padding: 28px 15px 15px 15px;
}
.check-cart {
  padding: 25px 15px 30px;
}
}